.card {
    width: 300px;
    margin: 10% auto;
}

.mat-card-title {
    font-size: 18px;
}

.checkbox {
    margin: 5px;
}

.section {
    display: flex;
    flex-direction: column;
    margin: 15px 0;
}