<mat-card class="card">
    <mat-card-header>
        <mat-card-title><b>Informatie</b></mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <img class="logo" src="../../assets/logo.png" />
        <p><b>Beschrijving:</b></p>
        <p>Pollod is een applicatie voor het maken van polls en deze te delen met je vrienden.</p>
        <p><b>Statistieken:</b></p>
        <p>Aantal polls: {{pollCount}}</p>
        <p>Aantal gebruikers: {{gebruikerCount}}</p>
    </mat-card-content>
</mat-card>
